<nz-tabset [nzCentered]="true">
    <nz-tab nzTitle="Tab 1">
      <div class="hotel-list-container">
        <nz-list nzGrid>
          <div nz-row [nzGutter]="16">
            <div
              nz-col
              nzXs="24"
              nzSm="12"
              nzMd="12"
              nzLg="8"
              nzXl="6"
              nzXXl="6"
              *ngFor="let item of hotels; trackBy: trackByHotelId"
            >
              <nz-list-item>
                <app-hotel-item [item]="item"></app-hotel-item>
              </nz-list-item>
            </div>
          </div>
        </nz-list>
      </div>
    </nz-tab>
    <!-- Repeat for other tabs -->
    <nz-tab nzTitle="Tab 2">
      <div class="hotel-list-container">
        <nz-list nzGrid>
          <div nz-row [nzGutter]="16">
            <div
              nz-col
              nzXs="24"
              nzSm="12"
              nzMd="12"
              nzLg="8"
              nzXl="6"
              nzXXl="6"
              *ngFor="let item of hotels; trackBy: trackByHotelId"
            >
              <nz-list-item>
                <app-hotel-item [item]="item"></app-hotel-item>
              </nz-list-item>
            </div>
          </div>
        </nz-list>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Tab 3">
      <div class="hotel-list-container">
        <nz-list nzGrid>
          <div nz-row [nzGutter]="16">
            <div
              nz-col
              nzXs="24"
              nzSm="12"
              nzMd="12"
              nzLg="8"
              nzXl="6"
              nzXXl="6"
              *ngFor="let item of hotels; trackBy: trackByHotelId"
            >
              <nz-list-item>
                <app-hotel-item [item]="item"></app-hotel-item>
              </nz-list-item>
            </div>
          </div>
        </nz-list>
      </div>
    </nz-tab>
  </nz-tabset>
  