<div class="dashboard-container">
  <div class="card-row">
    <nz-card class="stat-card" [nzBordered]="true">
      <nz-card-meta nzTitle="Réservations aujourd'hui" nzDescription="Total: 45"></nz-card-meta>
    </nz-card>
    <nz-card class="stat-card" [nzBordered]="false">
      <nz-card-meta nzTitle="Chambres occupées" nzDescription="Total: 80%"></nz-card-meta>
    </nz-card>
    <nz-card class="stat-card" [nzBordered]="false">
      <nz-card-meta nzTitle="Revenus aujourd'hui" nzDescription="Total: $12,000"></nz-card-meta>
    </nz-card>
  </div>
  <div class="card-row">
    <nz-card class="stat-card" [nzBordered]="false">
      <nz-card-meta nzTitle="Clients actuels" nzDescription="Total: 120"></nz-card-meta>
    </nz-card>
    <nz-card class="stat-card" [nzBordered]="false">
      <nz-card-meta nzTitle="Chambres disponibles" nzDescription="Total: 30"></nz-card-meta>
    </nz-card>
    <nz-card class="stat-card" [nzBordered]="false">
      <nz-card-meta nzTitle="Nouveaux avis" nzDescription="Total: 15"></nz-card-meta>
    </nz-card>
  </div>
</div>
