<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
      nzCollapsible
      nzWidth="20%"
      nzTheme="light"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <!-- <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Ant Design Of Angular</h1>
        </a>
      </div> -->
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="border: none;">
        <li nz-menu-item nzSelected (click)="navigate('/myspace/welcome')" >
          <span nz-icon nzType="home"></span>
          <span>Accueil</span>
        </li>
        <li nz-menu-item (click)="navigate('/myspace/hotels')" >
          <span nz-icon nzType="apartment"></span>
          <span>Hôtels</span>
        </li>
        <li nz-menu-item (click)="navigate('/myspace/bookings')" >
          <span nz-icon nzType="appstore"></span>
          <span>Réservations</span>
        </li>
        <li nz-menu-item (click)="navigate('/myspace/users')" >
          <span nz-icon nzType="team"></span>
          <span>Utilisateurs</span>
        </li>
        <li nz-submenu nzOpen nzTitle="Paramètres" nzIcon="settings">
          <ul>
            <li nz-menu-item (click)="navigate('/myspace/my-account')">
              <span nz-icon nzType="user"></span>
              <span>Mon compte</span>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>

    <nz-layout>
      <nz-header [ngStyle]="{'background-color':'rgba(255,255,255, 0.7)'}" >
        <div  [ngStyle]="{'display':'flex','justify-content':'center','align-items':'center','width' : isCollapsed ? '6%' : '25%','transition' : 'all ease-in 0.2s'}" >
            <!-- <h3>LOGO</h3> -->
            <div class="sidebar-logo">
              <a href="https://ng.ant.design/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>Booking System App</h1>
              </a>
            </div>
        </div>
        <div  style="width: 100%;display: flex;justify-content: space-between;align-items: center;" >
          <div>
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
            </span>
          </div>

          <div class='header-right' >

            <!-- @if (isDark) {
              <button nz-button nzType="text" (click)="changeTheme()" >
                 <span nz-icon nzType="moon" nzTheme="outline" style="font-size: 24px;"></span>
              </button>
            }@else {
              <button nz-button nzType="text" (click)="changeTheme()" >
                <span nz-icon nzType="moon" nzTheme="outline" style="font-size: 24px;"></span>
              </button>
            }
            &nbsp;&nbsp;&nbsp; -->

            <button nz-button nzType="text" >
              <span nz-icon nzType="bell" nzTheme="outline" style="font-size: 24px;" ></span>
            </button>


            &nbsp;&nbsp;&nbsp;
            <div>
              <!-- <nz-avatar nzIcon="user"></nz-avatar> -->
              <button nz-button nzType="text" nzTrigger="click" nz-dropdown [nzDropdownMenu]="menu">
                <nz-avatar nzIcon="user" nzSize="small" ></nz-avatar>
                <span nz-typography > &nbsp;{{userInfos["username"] }} </span>
              </button>

              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>Mon compte</li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item (click)="logout()" >Déconnexion</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
        </div>



      </nz-header>
      <nz-content [ngStyle]="{'margin-left': screenWidth > 992  ? (isCollapsed ? '6%' : '20%'): '0px' }" >
        <nz-breadcrumb>
            <!-- <nz-breadcrumb-item>
                <span>
                <a>
                    <span nz-icon nzType="home"></span>
                </a>
                </span>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>
                <span>Application List</span>
                </a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>Application</nz-breadcrumb-item> -->

            @for (item of breabcrumbItems; track $index) {
                    @if (item?.isLink) {
                        <nz-breadcrumb-item>
                            <span>
                            <a (click)="navigate(item?.link)">
                                <span > {{item?.title}} </span>
                            </a>
                            </span>
                        </nz-breadcrumb-item>
                    }@else {
                        <nz-breadcrumb-item> {{ item?.title }} </nz-breadcrumb-item>
                    }
            }
        </nz-breadcrumb>
        <br/>
        <!-- <div
          class="inner-content"
        >
          <router-outlet></router-outlet>
        </div> -->
        <router-outlet/>
        <br/>
      </nz-content>
    </nz-layout>
  </nz-layout>

  <nz-back-top></nz-back-top>

