<app-navbar></app-navbar>
<nz-tabset [nzCentered]="true" >
    <nz-tab nzTitle="Tab 1">
        <div class="hotel-list-container">
            <nz-list nzGrid>
                <div nz-row [nzGutter]="16">
                    @for (item of data; track item) {
                        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="6" nzXl="6" nzXXl="6" > 
                            <nz-list-item>
                                <app-hotel-item></app-hotel-item>
                            </nz-list-item>
                        </div>
                    }
                </div>
            </nz-list>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Tab 2">
        <div class="hotel-list-container">
            <nz-list nzGrid>
                <div nz-row [nzGutter]="16">
                    @for (item of data; track item) {
                        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="6" nzXl="6" nzXXl="6" > 
                            <nz-list-item>
                                <app-hotel-item></app-hotel-item>
                            </nz-list-item>
                        </div>
                    }
                </div>
            </nz-list>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Tab 3">
        <div class="hotel-list-container">
            <nz-list nzGrid>
                <div nz-row [nzGutter]="16">
                    @for (item of data; track item) {
                        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="6" nzXl="6" nzXXl="6" > 
                            <nz-list-item>
                                <app-hotel-item></app-hotel-item>
                            </nz-list-item>
                        </div>
                    }
                </div>
            </nz-list>
        </div>
    </nz-tab>
    
    
</nz-tabset>