.hotel-details-container {
    padding: 20px;
  }
  
  .hotel-header {
    margin-bottom: 10px;
  }
  
  .hotel-header h2 {
    margin: 0;
  }
  
  .hotel-address {
    color: grey;
    display: flex;
    align-items: center;
  }
  
  .hotel-address span {
    margin-right: 5px;
  }
  
  .img-details {
    text-align: center;
    margin: 10px 0;
  }
  
  .img-details img {
    width: 95%;
    max-height: 400px; /* Ajustez cette valeur selon vos besoins */
    object-fit: cover;
  }
  
  .description-container {
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 20px;
  }
  
  .room-info {
    margin-top: 10px;
  }
  
  .room-card {
    margin-bottom: 20px;
    border: 2px solid #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .room-card nz-card-meta {
    margin-bottom: 10px;
  }
  
  .room-card nz-card-meta-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .room-card nz-card-meta-description {
    font-size: 16px;
    color: #888;
  }
  
  .room-card button {
    width: 100%;
    margin-top: 10px;
  }
  