<div class="hotel-details-container" >
    <div nz-flex [nzVertical]="false" nzAlign="center" nzJustify="space-between" >
        <h2 nz-typography>Hotel 16 étoiles</h2>

        <nz-space>
            <span nz-icon nzType="heart"></span>
            <button nz-button nzType="primary">Réserver</button>
        </nz-space>

    </div>
    <div nz-flex [nzVertical]="false" nzAlign="center" nzJustify="space-between" >
        <nz-rate [nzCount]="1"></nz-rate>

    </div>
    <div nz-row [nzGutter]="[12,12]" >
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" >
            <div class="img-details" >
                <img src="./../../../assets/images/hotel-img.jpg" alt="">
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" >
            <div nz-row [nzGutter]="[12,12]" >
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzXl="12" nzXXl="12" >
                    <div class="img-details" >
                        <img src="./../../../assets/images/hotel-img.jpg" alt="">
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzXl="12" nzXXl="12" >
                    <div class="img-details" >
                        <img src="./../../../assets/images/hotel-img.jpg" alt="">
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzXl="12" nzXXl="12" >
                    <div class="img-details" >
                        <img src="./../../../assets/images/hotel-img.jpg" alt="">
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzXl="12" nzXXl="12" >
                    <div class="img-details" >
                        <img src="./../../../assets/images/hotel-img.jpg" alt="">
                    </div>
                </div>

            </div>
            
        </div>
    </div>

    <br>
    <div nz-row [nzGutter]="[12,12]" >
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="16" nzXl="16" nzXXl="16" >
            <h2 nz-typography>Room in house</h2>
            <p
                nz-typography
                nzEllipsis 
                nzExpandable 
                [nzEllipsisRows]="3"
            >
                L'Hôtel Belle Étoile est un charmant établissement situé au cœur d'une ville pittoresque, offrant un mélange parfait de confort moderne et de charme traditionnel. Cet hôtel trois étoiles propose des chambres élégantes et bien équipées, chacune décorée avec goût et dotée de toutes les commodités nécessaires pour un séjour agréable, y compris une connexion Wi-Fi gratuite, la climatisation, et une télévision à écran plat.
            </p>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" >
            <nz-card>
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </nz-card>
        </div>
    </div>

    
   
</div>