<app-navbar></app-navbar>
<div class="hotel-details-container" *ngIf="hotel; else loading">
  <!-- Hotel Information -->
  <div nz-flex [nzVertical]="false" nzAlign="center" nzJustify="space-between" class="hotel-header">
    <div>
      <nz-rate [nzCount]="5"></nz-rate>
      <h2 nz-typography>{{ hotel.name }}</h2>
      <div class="hotel-address">
        <span nz-icon nzType="environment" nzTheme="outline"></span>
        {{ hotel.location.address }} - {{hotel.location.city}} - {{hotel.location.country}}
      </div>
    </div>
    <span nz-icon nzType="heart"></span>
  </div>

  <div class="description-container">
    <p nz-typography>
      {{ hotel.description }}
    </p>
  </div>
  
  <div class="img-details">
    <img src="./../../../assets/images/hotel-img.jpg" alt="Hotel Image">
  </div>
  
  <!-- Room Cards -->
  <div nz-row [nzGutter]="[12, 12]">
    <ng-container *ngFor="let room of rooms">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
        <nz-card nzHoverable class="room-card">
          <nz-card-meta
            [nzTitle]="'Chambre ' + room.room_type"
            [nzDescription]="'Détail: ' + room.description"
          ></nz-card-meta>
          <div class="room-info">
            <p><strong>Type de chambre:</strong> {{ room.room_type }}</p>
            <p><strong>Capacité:</strong> {{ room.capacity }}</p>
            <p><strong>Nuitée:</strong> {{ room.price_per_night }} Fcfa</p>
            <button nz-button nzType="primary">Réserver</button>
          </div>
        </nz-card>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <nz-spin nzTip="Loading hotel details..."></nz-spin>
</ng-template>
